sudo: required

services:
  - docker

jobs:
  include:
    - stage: build
      script:
      - make build

deploy:
  - provider: script
    script: bash scripts/deploy.sh latest
    on:
      branch: master
  - provider: script
    script: bash scripts/deploy.sh $TRAVIS_TAG
    on:
      tags: true
